{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "prefer-arrow-callback": ["error", {"allowNamedFunctions": true}]
  }
}
