{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "prefer-arrow-callback": ["error", {"allowNamedFunctions": true}]
  }
}
